In [192]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

In [193]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [194]:
## regression problem statement bcz we are here predicting the salary which is continuous
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [195]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [196]:
##label encoder
label_encode=LabelEncoder()
df['Gender']=label_encode.fit_transform(df['Gender'])

In [197]:
##one hot encode
one_hot=OneHotEncoder(handle_unknown='ignore')
geo_encode=one_hot.fit_transform(df[['Geography']]).toarray()
geo_encode_df=pd.DataFrame(geo_encode,columns=one_hot.get_feature_names_out(['Geography']))

In [198]:
geo_encode_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [199]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [200]:
df=pd.concat([df.drop('Geography',axis=1),geo_encode_df],axis=1)

In [201]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [202]:
## split our data
y=df['EstimatedSalary']
x=df.drop(['EstimatedSalary'],axis=1)

In [203]:
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [204]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [205]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [206]:
## save the encoder and label for later use

scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

with open('label_encode.pkl','wb') as file:
  pickle.dump(label_encode,file)
with open('one_hot.pkl','wb') as file:
  pickle.dump(one_hot,file)
with open('scaler.pkl','wb') as file:
  pickle.dump(scaler,file)

### ANN with regression problem statement

In [207]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [208]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)),## 1st hidden layer with 64 neurons
    Dense(32,activation='relu',),#2nd hidden layer with 32 neurons
    Dense(1)# output layerfor regression


])

## compile the model
model.compile(optimizer='adam',loss='mse',metrics=['mae'])

In [209]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 64)                832

 dense_17 (Dense)            (None, 32)                2080

 dense_18 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [210]:
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
import datetime
log_dir='regressionlogs/fit/' +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [211]:
## set up early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [212]:
## train the model
history=model.fit(
    x_train,y_train,
    validation_data=(x_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorflow_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 4ms/step - loss: 13393090560.0000 - mae: 100424.4297 - val_loss: 13042573312.0000 - val_mae: 98698.1719
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 13370533888.0000 - mae: 100311.3047 - val_loss: 12994172928.0000 - val_mae: 98453.1484
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 13283681280.0000 - mae: 99877.3750 - val_loss: 12863170560.0000 - val_mae: 97788.3594
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 13106024448.0000 - mae: 98985.5156 - val_loss: 12636686336.0000 - val_mae: 96641.7266
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 12843990016.0000 - mae: 97647.9453 - val_loss: 12333330432.0000 - val_mae: 95066.2969
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 12523553792.0000 - mae: 95985.9688 - val_loss: 12000622592.0000 - val_mae: 93281.7266
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 12198105088.0000 - mae: 94250.5078 - val_loss: 11680607232.0000 - val_mae: 91480.2891
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 11908737024.0000 - mae: 92544.1484 - val_loss: 11392119808.0000 - val_mae: 89840.6953
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 11635816448.0000 - mae: 90989.2344 - val_loss: 11127264256.0000 - val_mae: 88409.9766
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 11374431232.0000 - mae: 89531.5469 - val_loss: 10856423424.0000 - val_mae: 87034.1094
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 11087347712.0000 - mae: 88093.5625 - val_loss: 10566257664.0000 - val_mae: 85656.7500
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 10786967552.0000 - mae: 86633.4531 - val_loss: 10253820928.0000 - val_mae: 84221.1797
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 10464692224.0000 - mae: 85134.1094 - val_loss: 9928770560.0000 - val_mae: 82729.3750
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 10136519680.0000 - mae: 83602.0391 - val_loss: 9612943360.0000 - val_mae: 81230.5547
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 9817536512.0000 - mae: 82098.0625 - val_loss: 9302599680.0000 - val_mae: 79761.1797
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 9508269056.0000 - mae: 80616.7734 - val_loss: 9000231936.0000 - val_mae: 78285.2500
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 9203783680.0000 - mae: 79151.9297 - val_loss: 8709068800.0000 - val_mae: 76852.9609
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 8912602112.0000 - mae: 77705.9531 - val_loss: 8426750464.0000 - val_mae: 75458.7500
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 8628406272.0000 - mae: 76293.9375 - val_loss: 8152094208.0000 - val_mae: 74104.2500
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 8348824576.0000 - mae: 74866.1719 - val_loss: 7876986880.0000 - val_mae: 72771.3516
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 8068511232.0000 - mae: 73454.3828 - val_loss: 7597758976.0000 - val_mae: 71399.0312
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 7782928384.0000 - mae: 72034.3672 - val_loss: 7330762752.0000 - val_mae: 70062.6016
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 7508856832.0000 - mae: 70656.0625 - val_loss: 7066064896.0000 - val_mae: 68724.4531
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 7235108864.0000 - mae: 69304.5078 - val_loss: 6803264000.0000 - val_mae: 67389.6875
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 6963402240.0000 - mae: 67952.9141 - val_loss: 6546333184.0000 - val_mae: 66063.5156
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 6695121920.0000 - mae: 66629.6094 - val_loss: 6292519936.0000 - val_mae: 64745.2930
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 6429714432.0000 - mae: 65295.3359 - val_loss: 6040734208.0000 - val_mae: 63434.6914
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 6162816000.0000 - mae: 63994.2617 - val_loss: 5788474368.0000 - val_mae: 62181.6953
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 5904364544.0000 - mae: 62705.9531 - val_loss: 5556489216.0000 - val_mae: 61015.0312
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 5657857536.0000 - mae: 61471.7227 - val_loss: 5326781952.0000 - val_mae: 59863.4492
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 5419615744.0000 - mae: 60278.8789 - val_loss: 5108366336.0000 - val_mae: 58769.1953
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 5193869312.0000 - mae: 59153.2812 - val_loss: 4899480064.0000 - val_mae: 57726.1094
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 4975812096.0000 - mae: 58068.8242 - val_loss: 4705339904.0000 - val_mae: 56735.4062
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 4769944064.0000 - mae: 57046.6875 - val_loss: 4519981568.0000 - val_mae: 55822.6719
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 4577302528.0000 - mae: 56070.6445 - val_loss: 4347649536.0000 - val_mae: 54965.2266
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 4395356160.0000 - mae: 55164.5625 - val_loss: 4191789056.0000 - val_mae: 54170.5703
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 4233022208.0000 - mae: 54366.9414 - val_loss: 4049031680.0000 - val_mae: 53488.5547
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 4084984320.0000 - mae: 53627.6523 - val_loss: 3922416128.0000 - val_mae: 52867.4844
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 3951356928.0000 - mae: 52957.0273 - val_loss: 3808433920.0000 - val_mae: 52342.9922
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 3831239680.0000 - mae: 52351.0977 - val_loss: 3712455168.0000 - val_mae: 51883.3633
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 3729950720.0000 - mae: 51821.3945 - val_loss: 3630846720.0000 - val_mae: 51513.1172
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 3643662848.0000 - mae: 51377.6719 - val_loss: 3561351680.0000 - val_mae: 51210.8242
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 3571444992.0000 - mae: 50984.2266 - val_loss: 3507623680.0000 - val_mae: 50960.0195
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 3512132608.0000 - mae: 50688.8398 - val_loss: 3463554560.0000 - val_mae: 50739.8242
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 3463297280.0000 - mae: 50425.4922 - val_loss: 3431984384.0000 - val_mae: 50575.8828
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 3426758144.0000 - mae: 50222.4961 - val_loss: 3402588928.0000 - val_mae: 50433.6289
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 3396788992.0000 - mae: 50067.5781 - val_loss: 3382798848.0000 - val_mae: 50331.1172
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 3374729984.0000 - mae: 49958.3828 - val_loss: 3367703552.0000 - val_mae: 50248.2930
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 3359502592.0000 - mae: 49852.7930 - val_loss: 3364243456.0000 - val_mae: 50240.8750
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 3345917184.0000 - mae: 49799.3828 - val_loss: 3351005184.0000 - val_mae: 50137.7812
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 3338501120.0000 - mae: 49762.0508 - val_loss: 3344099584.0000 - val_mae: 50101.9336
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 3332032256.0000 - mae: 49733.5117 - val_loss: 3340649472.0000 - val_mae: 50073.1758
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 3324379392.0000 - mae: 49682.9570 - val_loss: 3339401472.0000 - val_mae: 50098.9141
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 3323696128.0000 - mae: 49693.5000 - val_loss: 3334833152.0000 - val_mae: 50059.6836
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 3319812096.0000 - mae: 49668.6992 - val_loss: 3331723264.0000 - val_mae: 50025.9297
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 3315643136.0000 - mae: 49645.0312 - val_loss: 3329888256.0000 - val_mae: 50014.2734
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 3316205056.0000 - mae: 49655.6445 - val_loss: 3329097216.0000 - val_mae: 49994.9531
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 3312545792.0000 - mae: 49626.1289 - val_loss: 3326995456.0000 - val_mae: 49993.4648
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 3312671744.0000 - mae: 49636.4375 - val_loss: 3325689088.0000 - val_mae: 49980.0898
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 3311008768.0000 - mae: 49625.6914 - val_loss: 3325797376.0000 - val_mae: 49982.6094
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 3309902080.0000 - mae: 49617.8555 - val_loss: 3324763392.0000 - val_mae: 49972.7969
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 3308672000.0000 - mae: 49610.3086 - val_loss: 3323069952.0000 - val_mae: 49949.4336
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 3307139072.0000 - mae: 49611.0273 - val_loss: 3328890624.0000 - val_mae: 49971.8711
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 3309696256.0000 - mae: 49622.7930 - val_loss: 3321080576.0000 - val_mae: 49937.4609
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 3310903552.0000 - mae: 49630.6758 - val_loss: 3323021056.0000 - val_mae: 49938.0117
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 3307835904.0000 - mae: 49608.9922 - val_loss: 3319543552.0000 - val_mae: 49920.4336
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 3307674624.0000 - mae: 49607.3828 - val_loss: 3319373056.0000 - val_mae: 49917.6289
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 3307780096.0000 - mae: 49612.8242 - val_loss: 3319446528.0000 - val_mae: 49914.0977
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 3308422400.0000 - mae: 49617.7266 - val_loss: 3318021120.0000 - val_mae: 49903.6953
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 3306174208.0000 - mae: 49593.0703 - val_loss: 3317574912.0000 - val_mae: 49899.6836
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 3303719936.0000 - mae: 49595.5430 - val_loss: 3322525184.0000 - val_mae: 49926.4609
Epoch 72/100
250/250 [==============================] - 1s 4ms/step - loss: 3308176640.0000 - mae: 49615.8008 - val_loss: 3317468160.0000 - val_mae: 49896.1523
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 3305723136.0000 - mae: 49596.3789 - val_loss: 3319505664.0000 - val_mae: 49906.8867
Epoch 74/100
250/250 [==============================] - 1s 4ms/step - loss: 3306093056.0000 - mae: 49601.1953 - val_loss: 3316712704.0000 - val_mae: 49889.2461
Epoch 75/100
250/250 [==============================] - 1s 4ms/step - loss: 3304973568.0000 - mae: 49588.8203 - val_loss: 3316277760.0000 - val_mae: 49885.1602
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 3306114304.0000 - mae: 49594.5312 - val_loss: 3315581952.0000 - val_mae: 49879.6836
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 3305415680.0000 - mae: 49596.9102 - val_loss: 3316274944.0000 - val_mae: 49880.1758
Epoch 78/100
250/250 [==============================] - 1s 4ms/step - loss: 3305891328.0000 - mae: 49584.0508 - val_loss: 3315324416.0000 - val_mae: 49876.4336
Epoch 79/100
250/250 [==============================] - 1s 4ms/step - loss: 3306021120.0000 - mae: 49609.0234 - val_loss: 3315183616.0000 - val_mae: 49876.0156
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 3303853056.0000 - mae: 49581.8047 - val_loss: 3317206528.0000 - val_mae: 49881.8789
Epoch 81/100
250/250 [==============================] - 1s 4ms/step - loss: 3306464512.0000 - mae: 49602.4492 - val_loss: 3315180800.0000 - val_mae: 49873.9023
Epoch 82/100
250/250 [==============================] - 1s 4ms/step - loss: 3305287168.0000 - mae: 49578.5234 - val_loss: 3315261184.0000 - val_mae: 49874.1992
Epoch 83/100
250/250 [==============================] - 1s 4ms/step - loss: 3305926656.0000 - mae: 49602.8008 - val_loss: 3314357760.0000 - val_mae: 49867.5664
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 3305834496.0000 - mae: 49605.2305 - val_loss: 3314905088.0000 - val_mae: 49865.7852
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 3305504000.0000 - mae: 49589.3867 - val_loss: 3317191936.0000 - val_mae: 49877.3945
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 3306578944.0000 - mae: 49601.7305 - val_loss: 3321827584.0000 - val_mae: 49901.3008
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 3304803840.0000 - mae: 49588.0039 - val_loss: 3317060864.0000 - val_mae: 49879.8711
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 3304842240.0000 - mae: 49593.7852 - val_loss: 3314565632.0000 - val_mae: 49865.4961
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 3306475008.0000 - mae: 49614.1641 - val_loss: 3313713664.0000 - val_mae: 49858.6172
Epoch 90/100
250/250 [==============================] - 1s 4ms/step - loss: 3306895616.0000 - mae: 49609.3047 - val_loss: 3314416640.0000 - val_mae: 49858.1523
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 3307157504.0000 - mae: 49618.8555 - val_loss: 3313090048.0000 - val_mae: 49853.9648
Epoch 92/100
250/250 [==============================] - 1s 4ms/step - loss: 3304464896.0000 - mae: 49599.4414 - val_loss: 3315018496.0000 - val_mae: 49860.0625
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 3305814016.0000 - mae: 49604.7656 - val_loss: 3313353472.0000 - val_mae: 49851.3438
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 3305623552.0000 - mae: 49598.0195 - val_loss: 3313736192.0000 - val_mae: 49858.0078
Epoch 95/100
250/250 [==============================] - 1s 4ms/step - loss: 3306875904.0000 - mae: 49601.5508 - val_loss: 3313459456.0000 - val_mae: 49855.9648
Epoch 96/100
250/250 [==============================] - 1s 4ms/step - loss: 3305917184.0000 - mae: 49604.3203 - val_loss: 3313027328.0000 - val_mae: 49849.9023
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 3304153856.0000 - mae: 49580.7422 - val_loss: 3314840320.0000 - val_mae: 49864.0977
Epoch 98/100
250/250 [==============================] - 1s 4ms/step - loss: 3305822720.0000 - mae: 49608.7227 - val_loss: 3312370176.0000 - val_mae: 49847.0625
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 3306416128.0000 - mae: 49612.7383 - val_loss: 3312484608.0000 - val_mae: 49848.3672
Epoch 100/100
250/250 [==============================] - 1s 4ms/step - loss: 3305328896.0000 - mae: 49605.9297 - val_loss: 3312421120.0000 - val_mae: 49845.7305

In [213]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [214]:
%tensorboard --logdir regressionlogs/fit --port 6097

Reusing TensorBoard on port 6097 (pid 50568), started 0:01:49 ago. (Use '!kill 50568' to kill it.)

In [215]:
## evaluate model on the test data
test_loss,test_mae=model.evaluate(x_test,y_test)
print(f'Test MAE :{test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 3312421120.0000 - mae: 49845.7305
Test MAE :49845.73046875

In [216]:
model.save('regression_model.h5')

/Users/kuldeepsharma/Documents/Deep-learning-main/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(