In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

In [2]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## regression problem statement bcz we are here predicting the salary which is continuous
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
##label encoder
label_encode=LabelEncoder()
df['Gender']=label_encode.fit_transform(df['Gender'])

In [6]:
##one hot encode
one_hot=OneHotEncoder(handle_unknown='ignore')
geo_encode=one_hot.fit_transform(df[['Geography']]).toarray()
geo_encode_df=pd.DataFrame(geo_encode,columns=one_hot.get_feature_names_out(['Geography']))

In [7]:
geo_encode_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df=pd.concat([df.drop('Geography',axis=1),geo_encode_df],axis=1)

In [10]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
## split our data
y=df['EstimatedSalary']
x=df.drop(['EstimatedSalary'],axis=1)

In [12]:
x

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [13]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [ ]:
## save the encoder and label for later use

scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

with open('label_encoder.pkl','wb') as file:
  pickle.dump(label_encode,file)
with open('one_hott.pkl','wb') as file:
  pickle.dump(one_hot,file)
with open('scalerr.pkl','wb') as file:
  pickle.dump(scaler,file)

### ANN with regression problem statement

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)),## 1st hidden layer with 64 neurons
    Dense(32,activation='relu',),#2nd hidden layer with 32 neurons
    Dense(1)# output layerfor regression


])

## compile the model
model.compile(optimizer='adam',loss='mse',metrics=['mae'])

2025-09-25 21:13:07.527975: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M2
2025-09-25 21:13:07.528002: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2025-09-25 21:13:07.528006: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2025-09-25 21:13:07.528034: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2025-09-25 21:13:07.528048: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
import datetime
log_dir='regressionlogs/fit/' +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [20]:
## set up early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [21]:
## train the model
history=model.fit(
    x_train,y_train,
    validation_data=(x_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorflow_callback]
)

Epoch 1/100
 18/250 [=>............................] - ETA: 0s - loss: 13313702912.0000 - mae: 99815.3594

2025-09-25 21:13:07.833949: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

250/250 [==============================] - 1s 4ms/step - loss: 13393315840.0000 - mae: 100425.5078 - val_loss: 13043705856.0000 - val_mae: 98704.4375
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 13379430400.0000 - mae: 100355.4766 - val_loss: 13017138176.0000 - val_mae: 98575.1562
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 13332083712.0000 - mae: 100119.8516 - val_loss: 12938611712.0000 - val_mae: 98193.2188
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 13210786816.0000 - mae: 99504.2578 - val_loss: 12764109824.0000 - val_mae: 97326.4531
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 12992322560.0000 - mae: 98381.6484 - val_loss: 12496695296.0000 - val_mae: 95976.5391
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 12694638592.0000 - mae: 96799.4297 - val_loss: 12182180864.0000 - val_mae: 94399.6719
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 12376491008.0000 - mae: 95033.2344 - val_loss: 11869496320.0000 - val_mae: 92831.6953
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 12087073792.0000 - mae: 93354.8125 - val_loss: 11597288448.0000 - val_mae: 91400.6875
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 11843668992.0000 - mae: 91904.3750 - val_loss: 11383024640.0000 - val_mae: 90178.0859
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 11670929408.0000 - mae: 90762.7734 - val_loss: 11223945216.0000 - val_mae: 89141.2812
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 11531476992.0000 - mae: 89826.7969 - val_loss: 11099874304.0000 - val_mae: 88342.6328
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 11425366016.0000 - mae: 89111.5156 - val_loss: 10992086016.0000 - val_mae: 87643.0625
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 11321058304.0000 - mae: 88455.0781 - val_loss: 10886549504.0000 - val_mae: 86983.1484
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 11218415616.0000 - mae: 87847.9922 - val_loss: 10773805056.0000 - val_mae: 86353.5938
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 11108141056.0000 - mae: 87257.3594 - val_loss: 10666866688.0000 - val_mae: 85761.9297
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 10996370432.0000 - mae: 86686.6016 - val_loss: 10554821632.0000 - val_mae: 85189.2188
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 10886120448.0000 - mae: 86124.2266 - val_loss: 10442867712.0000 - val_mae: 84625.9219
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 10781276160.0000 - mae: 85581.6484 - val_loss: 10331076608.0000 - val_mae: 84077.9062
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 10663097344.0000 - mae: 85016.5078 - val_loss: 10213897216.0000 - val_mae: 83510.2812
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 10542952448.0000 - mae: 84462.6875 - val_loss: 10103677952.0000 - val_mae: 82965.9141
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 10433870848.0000 - mae: 83934.2969 - val_loss: 9988959232.0000 - val_mae: 82416.2656
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 10314802176.0000 - mae: 83378.0234 - val_loss: 9880570880.0000 - val_mae: 81892.0781
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 10203776000.0000 - mae: 82872.5391 - val_loss: 9766555648.0000 - val_mae: 81340.8828
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 10080848896.0000 - mae: 82293.9531 - val_loss: 9647308800.0000 - val_mae: 80764.5469
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 9963392000.0000 - mae: 81765.2734 - val_loss: 9535048704.0000 - val_mae: 80214.3516
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 9837995008.0000 - mae: 81195.4297 - val_loss: 9415565312.0000 - val_mae: 79642.2031
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 9714315264.0000 - mae: 80622.7188 - val_loss: 9290316800.0000 - val_mae: 79048.8203
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 9587361792.0000 - mae: 80029.9141 - val_loss: 9165921280.0000 - val_mae: 78467.2422
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 9451766784.0000 - mae: 79424.6719 - val_loss: 9040317440.0000 - val_mae: 77878.8516
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 9319699456.0000 - mae: 78807.1172 - val_loss: 8910958592.0000 - val_mae: 77283.5625
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 9172562944.0000 - mae: 78142.9844 - val_loss: 8762758144.0000 - val_mae: 76605.7266
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 9020318720.0000 - mae: 77449.1719 - val_loss: 8619570176.0000 - val_mae: 75942.7891
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 8857672704.0000 - mae: 76712.8281 - val_loss: 8464229376.0000 - val_mae: 75230.8438
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 8691609600.0000 - mae: 75949.1953 - val_loss: 8296421376.0000 - val_mae: 74461.8203
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 8507360768.0000 - mae: 75116.5312 - val_loss: 8125493760.0000 - val_mae: 73673.6172
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 8318669312.0000 - mae: 74263.2188 - val_loss: 7943325696.0000 - val_mae: 72827.6094
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 8118931456.0000 - mae: 73354.9766 - val_loss: 7746761728.0000 - val_mae: 71905.4766
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 7909200896.0000 - mae: 72395.2578 - val_loss: 7537428480.0000 - val_mae: 70912.4375
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 7664504320.0000 - mae: 71256.7734 - val_loss: 7297965568.0000 - val_mae: 69776.6562
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 7388332544.0000 - mae: 69957.5391 - val_loss: 6991680512.0000 - val_mae: 68313.5781
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 7027214336.0000 - mae: 68233.8438 - val_loss: 6623435776.0000 - val_mae: 66504.2031
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 6637750272.0000 - mae: 66375.9453 - val_loss: 6264113664.0000 - val_mae: 64723.3438
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 6269659136.0000 - mae: 64591.3594 - val_loss: 5923494400.0000 - val_mae: 63010.8281
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 5903949824.0000 - mae: 62783.9336 - val_loss: 5567923712.0000 - val_mae: 61211.0586
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 5501886464.0000 - mae: 60802.5664 - val_loss: 5180692992.0000 - val_mae: 59232.3828
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 5133376000.0000 - mae: 58971.6094 - val_loss: 4879981568.0000 - val_mae: 57702.3359
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 4831269376.0000 - mae: 57507.0703 - val_loss: 4618816000.0000 - val_mae: 56377.4102
Epoch 48/100
250/250 [==============================] - 1s 6ms/step - loss: 4566769664.0000 - mae: 56191.7188 - val_loss: 4390272000.0000 - val_mae: 55227.3789
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 4346765312.0000 - mae: 55061.7539 - val_loss: 4209257728.0000 - val_mae: 54324.6680
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 4168363520.0000 - mae: 54142.7109 - val_loss: 4057080064.0000 - val_mae: 53584.8164
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 4019021056.0000 - mae: 53390.3281 - val_loss: 3930016768.0000 - val_mae: 52953.7812
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 3894528512.0000 - mae: 52738.1211 - val_loss: 3825473792.0000 - val_mae: 52450.1797
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 3790892288.0000 - mae: 52199.8867 - val_loss: 3732869888.0000 - val_mae: 52004.2578
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 3704517376.0000 - mae: 51745.4609 - val_loss: 3660414976.0000 - val_mae: 51651.5039
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 3632118016.0000 - mae: 51365.6094 - val_loss: 3596206592.0000 - val_mae: 51328.6680
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 3572131072.0000 - mae: 51036.5312 - val_loss: 3542263552.0000 - val_mae: 51037.0508
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 3521988608.0000 - mae: 50770.1719 - val_loss: 3498784000.0000 - val_mae: 50805.3125
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 3480940544.0000 - mae: 50535.1562 - val_loss: 3463025152.0000 - val_mae: 50617.8203
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 3446358784.0000 - mae: 50342.2422 - val_loss: 3432195840.0000 - val_mae: 50461.1719
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 3418992128.0000 - mae: 50201.6328 - val_loss: 3407272448.0000 - val_mae: 50338.8398
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 3395550720.0000 - mae: 50071.1719 - val_loss: 3389609984.0000 - val_mae: 50249.9766
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 3377065216.0000 - mae: 49973.0352 - val_loss: 3373389312.0000 - val_mae: 50173.8633
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 3362695168.0000 - mae: 49904.3750 - val_loss: 3359094784.0000 - val_mae: 50102.1250
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 3350824448.0000 - mae: 49837.0781 - val_loss: 3351251968.0000 - val_mae: 50057.5156
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 3340974336.0000 - mae: 49784.6836 - val_loss: 3341699840.0000 - val_mae: 50009.0078
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 3333534720.0000 - mae: 49744.2617 - val_loss: 3334205184.0000 - val_mae: 49970.3828
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 3327752960.0000 - mae: 49711.8867 - val_loss: 3329117696.0000 - val_mae: 49945.5273
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 3323396864.0000 - mae: 49688.3672 - val_loss: 3326528768.0000 - val_mae: 49933.1328
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 3319432960.0000 - mae: 49666.4648 - val_loss: 3323492864.0000 - val_mae: 49919.2812
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 3316346112.0000 - mae: 49644.7461 - val_loss: 3320006400.0000 - val_mae: 49900.6953
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 3314050560.0000 - mae: 49638.5625 - val_loss: 3318221824.0000 - val_mae: 49888.9531
Epoch 72/100
250/250 [==============================] - 1s 4ms/step - loss: 3312043008.0000 - mae: 49622.8984 - val_loss: 3318342656.0000 - val_mae: 49893.0469
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 3310887680.0000 - mae: 49618.8359 - val_loss: 3316515584.0000 - val_mae: 49881.7969
Epoch 74/100
250/250 [==============================] - 1s 4ms/step - loss: 3309508096.0000 - mae: 49611.9648 - val_loss: 3315015424.0000 - val_mae: 49871.7812
Epoch 75/100
250/250 [==============================] - 1s 4ms/step - loss: 3308572672.0000 - mae: 49603.9258 - val_loss: 3316558848.0000 - val_mae: 49883.5430
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 3307964672.0000 - mae: 49607.4453 - val_loss: 3316802048.0000 - val_mae: 49884.9961
Epoch 77/100
250/250 [==============================] - 1s 4ms/step - loss: 3307182080.0000 - mae: 49601.5117 - val_loss: 3316874496.0000 - val_mae: 49884.7109
Epoch 78/100
250/250 [==============================] - 1s 4ms/step - loss: 3306634496.0000 - mae: 49604.1289 - val_loss: 3312950784.0000 - val_mae: 49860.6484
Epoch 79/100
250/250 [==============================] - 1s 4ms/step - loss: 3306149120.0000 - mae: 49593.8906 - val_loss: 3316308224.0000 - val_mae: 49881.7969
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 3306027008.0000 - mae: 49594.7539 - val_loss: 3311776256.0000 - val_mae: 49853.3633
Epoch 81/100
250/250 [==============================] - 1s 4ms/step - loss: 3305699072.0000 - mae: 49588.5938 - val_loss: 3312886016.0000 - val_mae: 49861.1211
Epoch 82/100
250/250 [==============================] - 1s 4ms/step - loss: 3305612544.0000 - mae: 49597.0938 - val_loss: 3312242688.0000 - val_mae: 49856.0195
Epoch 83/100
250/250 [==============================] - 1s 4ms/step - loss: 3305766912.0000 - mae: 49599.5352 - val_loss: 3312170240.0000 - val_mae: 49855.6602
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 3305122304.0000 - mae: 49592.4609 - val_loss: 3311770624.0000 - val_mae: 49852.4844
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 3304997120.0000 - mae: 49600.1641 - val_loss: 3310660608.0000 - val_mae: 49845.0977
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 3304542464.0000 - mae: 49590.5742 - val_loss: 3311668992.0000 - val_mae: 49852.0469
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 3304816384.0000 - mae: 49594.1367 - val_loss: 3313408768.0000 - val_mae: 49863.2539
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 3304930048.0000 - mae: 49595.6289 - val_loss: 3313541888.0000 - val_mae: 49864.7305
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 3304846848.0000 - mae: 49595.6328 - val_loss: 3311471104.0000 - val_mae: 49849.3086
Epoch 90/100
250/250 [==============================] - 1s 4ms/step - loss: 3304503296.0000 - mae: 49593.2070 - val_loss: 3311729152.0000 - val_mae: 49851.6445
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 3304353280.0000 - mae: 49591.8203 - val_loss: 3310664960.0000 - val_mae: 49842.3281
Epoch 92/100
250/250 [==============================] - 1s 4ms/step - loss: 3304425728.0000 - mae: 49592.5977 - val_loss: 3314183936.0000 - val_mae: 49868.1719
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 3304261888.0000 - mae: 49590.3594 - val_loss: 3312213248.0000 - val_mae: 49854.7148
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 3304430336.0000 - mae: 49590.0547 - val_loss: 3313031168.0000 - val_mae: 49860.6367
Epoch 95/100
250/250 [==============================] - 1s 4ms/step - loss: 3304555264.0000 - mae: 49591.8555 - val_loss: 3313479168.0000 - val_mae: 49862.6719

In [22]:
%load_ext tensorboard

In [23]:
%tensorboard --logdir regressionlogs/fit --port 6097

Reusing TensorBoard on port 6097 (pid 50568), started 6:02:45 ago. (Use '!kill 50568' to kill it.)

In [24]:
## evaluate model on the test data
test_loss,test_mae=model.evaluate(x_test,y_test)
print(f'Test MAE :{test_mae}')

63/63 [==============================] - 0s 4ms/step - loss: 3310660608.0000 - mae: 49845.0977
Test MAE :49845.09765625

In [25]:
model.save('regression_model.h5')

/Users/kuldeepsharma/Documents/Deep-learning-main/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(